@model NETJACKET.Models.Venta

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Venta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Placaventa" class="control-label"></label>
                <select asp-for="Placaventa" class ="form-control" asp-items="ViewBag.Placaventa"></select>
            </div>
            <div class="form-group">
                <label asp-for="Precioventa" class="control-label"></label>
                <input asp-for="Precioventa" class="form-control" />
                <span asp-validation-for="Precioventa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mpventa" class="control-label"></label>
                <input asp-for="Mpventa" class="form-control" />
                <span asp-validation-for="Mpventa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Limitacionesventa" class="control-label"></label>
                <input asp-for="Limitacionesventa" class="form-control" />
                <span asp-validation-for="Limitacionesventa" class="text-danger"></span>
            </div>
            <div class="form-group">
              <label asp-for="Ciudadventa" class="control-label"></label>
              <select asp-for="Ciudadventa" class="form-select" id="floatingSelectDisabled" aria-label="Floating label disabled select example" required>
                <option selected></option>
                <option value="Bogotá">Bogotá</option>
                <option value="Cali">Cali</option>
                <option value="Medellin">Medellin</option>
                <option value="Barranquilla">Barranquilla</option>
                <option value="Cúcuta">Cúcuta</option>
                <option value="Manizales">Manizales</option>
                <option value="Bucaramanga">Bucaramanga</option>
                <option value="Santa Marta">Santa Marta</option>
                <option value="Cartagena">Cartagena</option>
                <option value="Pereira">Pereira</option>
                <span asp-validation-for="Ciudadventa" class="text-danger"></span>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Spventa" class="control-label"></label>
                <input asp-for="Spventa" class="form-control" />
                <span asp-validation-for="Spventa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
